<div class="attribute-editor-component theme-container" >
  <div class="attribute-editor-row">
    <span class="theme-checkbox">
      <input id="overrideBranding" type="checkbox"
             ng-change="saveOverride()"
             ng-model="override">
      <label for="overrideBranding">Override Branding</label>
    </span>
  </div>
  <div class="attribute-editor-row">
    <div class="form-group">
      <label class="control-label" for="te-theme-options">Themes:</label>
      <select id="te-theme-options" ng-model="theme" class="form-control" ng-change="saveTheme()">
        <option value="light">Light</option>
        <option value="dark">Dark</option>
      </select>
    </div>
  </div>
</div>
