<div class="attribute-editor-component theme-container" >
  <div class="attribute-editor-row">
    <span class="theme-checkbox">
      <input id="overrideBranding" type="checkbox"
             ng-change="save()"
             ng-model="override">
      <label class="control-label" for="overrideBranding">&nbsp; Override Branding</label>
    </span>
  </div>
  <div class="attribute-editor-row">
    <div class="form-group">
      <label class="control-label" for="te-theme-options">Themes:</label>
      <select id="te-theme-options" ng-model="theme"
              ng-options="th for th in themes"
              class="form-control"
              ng-change="save()">
      </select>
    </div>
  </div>
</div>
